<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-4.0.xsd ">
	<!-- 不需要进行安全认证的资源 -->
	<http pattern="/login.jsp" security="none" />
	<http pattern="/jsp/passwordError.html" security="none" />
	
	<!-- 资源所需要的权限 -->
	<http use-expressions="true" auto-config="true">
		<intercept-url pattern="/**" access="authenticated" />
		<form-login login-page="/login.jsp" password-parameter="j_password"
			username-parameter="j_username" login-processing-url="/j_spring_security_check"
			authentication-success-handler-ref="authenticationSuccessHandlerImpl"
			authentication-failure-handler-ref="authenticationFailureHandlerImpl" />
		<csrf disabled="true"></csrf>
	</http>
	
	<!--验证配置，认证管理器，实现用户认证的入口，主要实现UserDetailsService接口即可 -->
	<authentication-manager>
		<authentication-provider user-service-ref="userService">
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="userService" class="com.yiren.security.succ.UserServiceImpl" />
	
	<!-- 认证成功调用 主要实现AuthenticationSuccessHandler这个类的onAuthenticationSuccess方法 -->
	<beans:bean id="authenticationSuccessHandlerImpl"
		class="com.yiren.security.succ.AuthenticationSuccessHandlerImpl">
		<beans:property name="succUrl" value="/jsp/sale/findSaleRecord.html" />
	</beans:bean>

	<beans:bean id="authenticationFailureHandlerImpl"
		class="com.yiren.security.succ.AuthenticationFailureHandlerImpl">
		<beans:property name="defaultFailureUrl" value="/jsp/passwordError.html" />
	</beans:bean>

</beans:beans>